//Tipografía

$fuente_principal: 'Delius Unicase', cursive;

$rosa:#ff2ab8;
$purple:#5f1346;
$lila:#e60afa;
$morado:#80028b;
$agua:#045b75;
$rosado:#fc097a;
$verde:#3afc09;
$amarillo:#f5f106;
$rojo:#fc0202;
$negro:#080808;
$blanco:#f8f6f6;
$gris:#747272;
$cafe:#836002;
$rose:#5e0326;
$azul:#00345e;
$azulbajo:#0378d8;
$azulbajo:#274863;
$bajo:#9402a1;
$azulemorado:#1303a7;
$aguas:#0c0481;
$grisnegro:#313030;
$grisnegro:#313030;
$grisnegro:#023c7e;



$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;