@use 'base/variables' as v;
@use 'base/mixins' as m;


.video {

    position: relative;
    max-height: 50rem;/**Es para que no crezca bajo el video en dispositivos más grandes**/
    min-width: 30rem;
    overflow: hidden;
}

.video .overlay {

        position: absolute;
        background: rgb(36, 0, 29);
        background: linear-gradient(176deg, rgba(36, 0, 28, 0.5) 0%, rgba(121, 9, 106, 0.5) 12%, rgba(255, 0, 208, 0.5) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video video {

        width: auto;
        display: block;
      }
      @media (min-width: 992px) {
        .video video {
          width: 100%;
        }
      }
      .video .contenido-video {
        z-index: 1;
      }
      .video .contenido-video h2 {
        color: #f8f6f6;
        font-size: 7rem;
        margin: 0;
      }
      .video .contenido-video p {
        background-color: #00345e;
        display: inline-block;
        padding: 1rem 2rem;
        color: #f8f6f6;
        font-weight: bold;
        font-size: 2.4rem;
        margin: 0;
      }

